.simple-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-top: 40px;
  margin-bottom: -100px;
}

.logo-placeholder img {
  height: 80px;
  width: auto;
}

.rights {
  text-align: center;
  font-size: 14px;
}

.year {
  font-size: 14px;
}