.navbar{
   display: flex;
   justify-content: end;
}

.blocoLoginNavbar{
    background-color: #FD66A7;
    width: 10vh;
    height: 10vh;
    text-decoration: none; 
    color: #491900;
    align-content: center;
    text-align: center;
    font-weight: 700;

}

.blocoSobreNavbar{
    background-color: #FECC3D;
    width: 10vh;
    height: 10vh;
    text-decoration: none; 
    color: #491900;
    align-content: center;
    text-align: center;
    border-radius: 10em;
    font-weight: 700;
}