/* Inclusão de fontes */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Text:ital@0;1&family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    /* Inclui padding e border na largura e altura totais */
    margin: 0;
    padding: 0;
}

/* ----- Container Principal */

.login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fcfcf8;
    display: flex;
    justify-content: start;
    padding: 18em;
    align-items: center;
    overflow: hidden;
    /* Não permite a barra de rolagem (devido as formas) */
    font-family: 'Anton', sans-serif;
}

/* ----- Formas Geométricas do Fundo */

.forma {
    /* Classe que fará com que as formas fiquem no fundo */
    position: absolute;
    z-index: 1;
    /* Ficam atrás do cartão */
}

.circulo-amarelo {
    width: 350px;
    height: 350px;
    background-color: #fff59d;
    border-radius: 50%;
    top: 20%;
    left: -50px;
    z-index: 11;
}

.circulo-amarelo-g {
    width: 550px;
    height: 550px;
    background-color: #fff59d;
    border-radius: 50%;
    top: -40%;
    right: -10%;
}

.circulo-laranja {
    width: 350px;
    height: 350px;
    background-color: #ff8a65;
    border-radius: 50%;
    top: 15%;
    right: 10%;
}

.circulo-azul {
    width: 350px;
    height: 350px;
    background-color: #6495ed;
    border-radius: 50%;
    bottom: -100px;
    left: 40%;
    z-index: 11;
}

.circulo-vermelho {
    width: 80px;
    height: 80px;
    background-color: #ff6b6b;
    border-radius: 50%;
    top: 80px;
    left: 15%;
}

.circulo-vermelho-g {
    width: 120px;
    height: 120px;
    background-color: #ff6b6b;
    border-radius: 50%;
    top: 30%;
    left: 50%;
}

.circulo-verde {
    width: 80px;
    height: 80px;
    background-color: #4ade80;
    border-radius: 50%;
    top: -20px;
    left: 55%;
}

.retangulo-verde {
    width: 300px;
    height: 150px;
    background-color: #4ade80;
    bottom: 0;
    left: 80px;
}

.retangulo-azul {
    width: 180px;
    height: 500px;
    background-color: #b3e5fc;
    top: 0;
    left: 35%;
    z-index: 0;
}

.retangulo-verde-h {
    width: 500px;
    height: 150px;
    background-color: #7cfff0;
    z-index: 0;
    top: 70%;
    right: 0%;
}

/* ----- Bloco de Login */

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    /* Confirmar que irá ficar na frente das formas */
    min-width: 25vw;
    min-height: 70vh;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(12px);
    /* Aplica um efeito de desfoque */
    -webkit-backdrop-filter: blur(12px);
    /* Aplica o mesmo efeito de desfoque - para compatibilidade com navegadores antigos */
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    transition: 0.5s;
}

.login-box:hover {
    transform: scale(1.02);
    transition: 0.5s;
    z-index: 12;
}

.login-titulo {
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
    /* Muda o tamanho da linha */
    color: #3e2723;
    margin-bottom: 40px;
}

/* ----- Inputs */
.login-inputs {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.login-inputs label {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
}

.login-inputs input {
    background: transparent;
    /* Deixa o fundo transparente */
    border: none;
    border-bottom: 2px solid #333;
    padding: 5px 0;
    font-size: 1rem;
    outline: none;
    color: #000;
    transition: border-color 0.3s;
}

.login-inputs input:focus {
    border-bottom-color: #008cba;
}

/* ----- Status - Validação */
.status-sucesso {
    color: #4caf50;
    margin-bottom: 15px;
}

.status-erro {
    color: #f44336;
    margin-bottom: 15px;
}

/* --- Botão --- */
.login-botao {
    width: 100%;
    padding: 12px;
    background-color: #008cba;
    /* Azul */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    /* Transição especificamente no background */
    margin-top: 10px;
}

.login-botao:hover {
    background-color: #00779e;
}

@media only screen and (max-width: 1370px) {
    .circulo-azul {
        z-index: 1;
    }
}

@media only screen and (max-width: 900px) {
    .circulo-azul {
        width: 250px;
        height: 250px;
        transition: 0.5s;
    }

    .retangulo-verde {
        width: 200px;
        height: 100px;
        transition: 0.5s;
    }

    .retangulo-verde-h {
        width: 200px;
        height: 150px;
        transition: 0.5s;
    }

    .circulo-laranja {
        width: 250px;
        height: 250px;
        top: 10%;
        right: 5%;
        transition: 0.5s;
    }

    .circulo-amarelo {
        z-index: 1;
        transition: 0.5s;
    }

    .circulo-amarelo-g {
        width: 450px;
        height: 450px;
        transition: 0.5s;
    }

    .circulo-verde {
        top: 5%;
        transition: 0.5s;
    }

    .circulo-vermelho {
        top: 5%;
        transition: 0.5s;
    }

    .circulo-vermelho-g {
        left: 80%;
        top: 50%;
        transition: 0.5s;
    }

    .login-titulo {
        font-size: 2em;
    }

    .login-container {
        display: flex;
        width: 100%;
        padding: 2em;
        justify-content: center;
        align-items: center;
    }

    .login-box {
        display: flex;
        min-width: 40vw;
        max-width: 100vw;
        min-height: 60vh;
        padding: 30px;
    }

    .login-titulo {
        font-size: 1.8em;
        margin-bottom: 30px;
    }

    .login-inputs {
        margin-bottom: 20px;
    }

    .login-inputs input {
        font-size: 0.9rem;
    }

    .login-botao {
        font-size: 0.9rem;
        padding: 10px;
    }

}

@media only screen and (max-width: 670px) {
    .circulo-amarelo {
        width: 280px;
        height: 280px;
        top: 20%;
    }

    .circulo-amarelo-g {
        width: 400px;
        height: 400px;
    }

    .circulo-verde {
        width: 80px;
        height: 80px;
        left: 15%;
    }

    .circulo-vermelho {
        width: 80px;
        height: 80px;
        top: 65%;
        left: 6%;
    }

    .retangulo-verde {
        height: 20%;
        left: 5%;
    }
}

@media only screen and (max-width: 425px) {
    .retangulo-verde {
        display: none;
    }
    
    .retangulo-verde-h {
        display: none;
    }

    .retangulo-azul {
        display: none;
    }

    .circulo-amarelo {
        top: 30%;
        background-color: #eaff8d;
    }

    .circulo-vermelho {
        top: 80%;
    }

    .circulo-verde {
        left: 10%;
        top: 12%;
    }
}

@media only screen and (max-width: 375px) {
    .login-box {
        min-width: 80vw;
    }
}